.direnv
*.pdf
!docs.pdf
test.typ

# This is kind of hacky, but I need to ignore the images in the gallery that I'm not using
gallery/*.png
!gallery/radial-4.png
!gallery/radial-5.png
!gallery/radial-6.png
