name: Tests

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    branches: main
  pull_request:
    branches: "**"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install just from crates.io
        uses: baptiste0928/cargo-install@v2
        with:
          crate: just
      - name: Install Typst
        uses: yusancky/setup-typst@v3
        id: setup-typst
      - name: Run checks
        run: |
          just package local
          just package preview
          just gallery
          # TODO: run unit tests here
